@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bg-color: rgb(20,20,20);
    --bg2-color: rgb(15,15,15);
    --cframe-white: rgba(255,255,255,0.2);
    --cframe-black: rgba(0,0,0,75);

    --hover-bc: rgba(255,255,255,0.1);
    --focus-bc: rgba(255,255,255,0.05);
    --active-bc: rgba(255,255,255,0.05)
}

body {
    background-color: var(--bg-color);
}

* {
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    scrollbar-width: thin;
    color-scheme: dark;

    text-decoration-line: none;

    font-family: 'Rubik';
}

p.name {
    color: rgb(180,180,180);
    padding-left: 0px;
    padding-top: 10vh;
    text-align: center;
    font-size: 30px;
}

a.title {
    font-weight: bold;
    font-size: 1.5em;

    height: 100%;
    width: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 0.5em;
    margin-right: 0.5em;
}

header {
    display: flex;

    height: 4em;
    width: 100%;
    background-color: rgb(20,20,20);

    justify-content: center;
}

header.fake {
    width: 100%;
    height: 4em;
}

header div.icon {
    background-image: url("../images/fav_1.ico");
    background-size: cover;
    
    width: 2em;
    height: 2em;

    margin-right: 0.5em;
    margin-top: 1em;
}

header ul {
    font-weight: bold;
    font-size: 1.5em;
}

img {
    border-radius: 8px;
    margin: auto auto 0;
    display: block;
    position: relative;
    width: 10%;
}

footer {
    background-color: rgba(24,24,24);
    width: 100%;

    display: flex;
    position: relative;

    bottom: 0;
    left: 0;

    padding: 1.5em;
    box-sizing: border-box;

    padding-left: 3em;
    padding-right: 3em;
}

footer p {
    font-size: 0.75em;
    color: rgba(133, 133, 133, 0.5);
}

footer td {
    font-size: 0.75em;
    color: rgba(133, 133, 133, 0.5);
}

table {
    display: flex;
    flex-direction: column;
}

table.jurisprudence {
    margin: 0 auto;
    min-width: 720px;
}

tr {
    flex: 1;
    display: flex;
}

td {
    flex: 1
}

td.right {
    text-align: right;
}

footer.fixed {
    height: 100%;
    align-content: center;
    position: fixed;
}

ul {
    height: 100%;
    display: flex;
}

li {
    font-size: 1em;
}

li::marker {
    content: none;
}

li a {
    height: 100%;

    display: flex;

    align-items: center;

    padding-left: 1em;
    padding-right: 1em;
}

div.background {
    background-image: url("../images/back.jpg");
    opacity: 0.01;
    width: 100vw;
    height: 100vh;
    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    position: fixed;

    z-index: -1;
}

div.background_en {
    background-image: url("../images/back_en.jpg");
    opacity: 0.01;
    width: 100vw;
    height: 100vh;
    
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    position: fixed;

    z-index: -1;
}

.server {
    background-color: rgb(20,20,20);
    border: 1px solid rgb(75,75,75);
    outline: 1px solid rgb(0,0,0);
    border-radius: 5px;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow: 0 0 0 2px rgb(255, 255, 255);
        text-shadow: 1px 1px 2px rgb(175,175,255), 0 0 1em rgb(255,255,155), 0 0 0.2em blue;
    }
   
    20%, 24%, 55% {        
        text-shadow: none;
    }    
}

h1 {color: rgb(255,255,255);}

@keyframes yoyo {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

.rotate {
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-name: yoyo;
    animation-timing-function: linear;
}

div.line {
    width: 95%;
    left: 2.5%;
    position: relative;
    height: 2px;
    background-color: rgb(255,255,255);
    margin-top: 2em;
    margin-bottom: 2em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_blur {
    filter: blur(2px);

    margin: -5px;
    padding: 5px;
}

.cantcursor {
    caret-color: transparent;
    user-select: none;
}

.hover:hover {
    background-color: var(--hover-bc);
}

.hover:active {
    background-color: rgba(0,0,0,0.1);
}

input:focus {
    outline: 1px rgba(255,255,255,0.5) solid;
}