* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
    color: white;
    font-family: monospace;
}


#background {
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    z-index: 0;
}


.overlay {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);

    display: flex;
    flex-direction: column;
    align-items: center;
}


.map {
    margin-top: 20px;
    font-size: 20px;
    opacity: 0.85;
    text-align: center;
}


.logo {
    width: 220px;
    margin: 40px 0 20px 0;
    user-select: none;
}


.files {
    width: 70%;
    max-height: 35vh;
    overflow: hidden;

    font-size: 16px;
    line-height: 1.4;
    opacity: 0.9;
    text-align: center;
}

.files::before {
    content: ">";
    margin-right: 5px;
}


@media (max-width: 768px) {
    .logo {
        width: 160px;
    }

    .files {
        width: 90%;
        font-size: 14px;
    }
}
